.main {
    width: 550px;
    padding: 50px;
    margin: auto;
    border-radius: 25px;
    margin-top: 50px;
    background-color: #EFEFEF;
    font-family: "Lucida Console", "Courier New", monospace;
    
    .announcement-list {
        margin: 20px 0;
    }
}